.deps
config.log
config.status
*.exe
.*.swp
Makefile
include/config.h
include/see/inc-subst
include/stamp-h1
libltdl/config.h
libtdl/libtool
libltdl/stamp-h1
libsee/libsee-config
libtool
libsee/.libs
*.pc
*.o
*.lo
*.la
